################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CLS_App/.vs
/CLS_App/CLS_App/obj
/CLS_App/CLS_App/Properties
